body {
    background-image: linear-gradient(to left, #accbee 0%, #e7f0fd 100%);}
  .card > img {
    width: 100%;
    height: 250px;
  }
  /* #productCard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  } */
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid black;
  }
  
  td:first-child {
    text-align: center;
  }